*{

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.App {
  text-align: center;
  width: 100vw;
  background-color: #87fadb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
 
}

.area{

  margin-bottom: 30px;
  box-shadow: 0 0 10px grey;
  padding: 0;
  background-color: #d1e6e0;
}




.head{

  height: 40px;
  width: 98%;
  background-color:#04916c ;
  text-align: left;
  margin: 0;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  

}

.head h2{

  border: none;
}

icon{

  cursor: pointer;
}


textarea{

  background-color: #d1e6e0;
  border: none;
}

main{

  background-color: #d1e6e0;
  width: 625px;
  text-align: left;
  
}

main h1{

  border-bottom: 2px solid black;
} 

main h2{

  border-bottom: 1px solid black;
}

#preview{

  padding: 20px;


}


